.centerr{
  display:flex;
  flex-direction: column;
  justify-self: center;
  justify-content: center;

  background: rgb(175, 211, 226);
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);


}
.center{
  display: flex;
  flex-direction: column;
  max-width: 700px;
  background: rgb(175, 211, 226);
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
  margin:auto;
}
.center h1{
  font-family: Arial, sans-serif;
  color:  rgb(20, 108, 148);
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid rgb(246, 241, 241);
}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid rgb(246, 241, 241);
  margin: 30px 0;
}
.txt_field input{
  width: 100%;
  color:rgb(20, 108, 148);
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;

}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: rgb(246, 241, 241);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: rgb(175, 211, 226);
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color:rgb(246, 241, 241);
}
/* target the pseudo-element of span elements, siblings of input, when input is focused */
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}
.pass{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.pass:hover{
  text-decoration: underline;
}
input[type="submit"]{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background:rgb(20, 108, 148);
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;

  outline: none;
}
input[type="submit"]:hover{
  border-color: rgb(20, 108, 148);
  transition: .5s;
}
.homePage_link{
  margin: 30px 0;
  text-align: center;
  font-size: 14px;
  color:rgb(20, 108, 148);
}
.homePage_link a{
  color: rgb(20, 108, 148) none;
}
.homePage_link a:hover{
  text-decoration: underline;
}
